#lightsLeft{
	float:left;
	height:410px;
	width:140px;
	border:2px solid black;
}
#buttonsBottom{
	float:left;
	clear:left;
	height:50px;
	width:100%;
	border:2px solid black;
}
#green{
	display:block;
	background-color:orange;
	border:4px solid green;
	border-radius:30px;
	height:125px;
	width:125px;
	float:left;
	margin:0px 0px 5px 0px;
	}
#yellow{
	display:block;
	background-color:black;
	border:4px solid yellow;
	border-radius:30px;
	height:125px;
	width:125px;
	float:left;
	clear:left;
	margin:0px 0px 5px 0px;
	}
#red{
	display:block;
	background-color:black;
	border:4px solid red;
	border-radius:30px;
	height:125px;
	width:125px;
	float:left;
	clear:left;
	margin:0px 0px 5px 0px;
	}
#buttonClear{
	display:inline-block;
	float:right;
	width:28%;
	height:40px;
	font-size:20px;
	font-weight:bold;
	padding:8px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
#buttonStop{
	display:inline-block;
	float:right;
	width:28%;
	height:40px;
	font-size:20px;
	font-weight:bold;
	padding:8px 0px 0px 0px;
	margin:0px 5px 0px 0px;
}
#buttonStart{
	display:inline-block;
	float:left;
	width:40%;
	height:40px;
	font-size:26px;
	font-weight:bold;
	padding:3px 0px 0px 0px;
	margin:0px 5px 0px 0px;
}
#green:hover{
	background-color:green;
	}
#yellow:hover{
	background-color:yellow;
	}
#red:hover{
	background-color:red;
	}
#start:hover{
	background-color:blue;
	}
#stop:hover{
	background-color:blue;
	}
#clear:hover{
	background-color:blue;
	}
#startText{
	float:right;
	margin:0px 0px 0px 0px;
	}
#stopText{
	float:right;
  margin:0px 0px 0px 0px;
	}
#clearText{
  float:right;
  margin:0px 0px 0px 0px;
  }
