#mainOuter{
	width:100vw;
	/*changed width from 100 to 200 to try making light stack full screen size*/
	height:47vw;
	/*changed height from 47 to 24 when width went from 100 to 200*/
}
#lightsLeft{
	float:left;
	height:275%;
	width:40%;
	/*border:2px solid black;*/
	margin:0% 0% 0% 0%;
}
#buttonsBottom{
	float:left;
	clear:left;
	/*buttonsBottom started as 'clear left' when lights and buttons all fit onto 1 screen at width 100vw*/
	height:20%;
	width:94%;
	/*border:2px solid black;*/
	margin:0% 2% 0% 0%;
}
#counterRight{
	float:right;
	height:275%;
	width:50%;
	/*border:2px solid black;*/
	margin:0% 5% 0% 0%;
}
#fortyMinuteMeetingTimer{
	display:block;
	height:6%;
	width:98%;
	/*border:2px solid black;*/
	font-size:150%;
	text-align:center;
	margin:5% 0% 4% 0%;
}
#fortyMinuteMeetingTimerInnerLeft{
	display:block;
	float:left;
	clear:none;
	height:auto;
	width:45%;
	/*border:2px solid black;*/
	font-size:50%;
	text-align:center;
	box-shadow:0px 4px 0px 0px rgba(0,0,0,.2);
	border:2px solid black;
	margin:5% 0% 0% 0%;
}
#fortyMinuteMeetingTimerInnerRight{
	display:block;
	float:right;
	clear:none;
	height:auto;
	width:45%;
	/*border:2px solid black;*/
	font-size:50%;
	text-align:center;
	box-shadow:0px 4px 0px 0px rgba(0,0,0,.2);
	border:2px solid black;
	margin:5% 0% 0% 0%;
}
#fortyMinuteMeetingTimerInnerLeft:active{
	transform:translateY(4px);
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
}
#fortyMinuteMeetingTimerInnerRight:active{
	transform:translateY(4px);
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
}
#counterBoxMessages{
	display:block;
	height:6%;
	width:98%;
	border:2px solid black;
	background-color:white;
	font-size:150%;
	text-align:center;
	margin:0% 0% 5% 0%;
}
#counterBoxSecondsTitle{
	display:inline-block;
	height:8%;
	width:40%;
	float:right;
	border:2px solid black;
	background-color:lightgray;
	font-size:200%;
	text-align:center;
	margin:0% 5% 0% 0%;
}
#counterBoxMinutesTitle{
	display:inline-block;
	height:8%;
	width:40%;
	float:right;
	border:2px solid black;
	background-color:lightgray;
	font-size:200%;
	text-align:center;
	margin:0% 5% 0% 0%;
}
#counterBoxSeconds{
	display:inline-block;
	/*display:none;*/
	height:12%;
	width:40%;
	float:right;
	clear:right;
	border:2px solid black;
	background-color:lightgray;
	font-size:300%;
	text-align:center;
	margin:0% 5% 0% 0%;
}
#counterBoxMinutes{
	display:inline-block;
	/*display:none;*/
	height:12%;
	width:40%;
	float:right;
	border:2px solid black;
	background-color:lightgray;
	font-size:300%;
	text-align:center;
	margin:0% 5% 0% 0%;
}
#selectedSpeechButtonValue{
	display:block;
	float:right;
	clear:right;
	height:6%;
	width:98%;
	border:2px solid black;
	background-color:white;
	font-size:140%;
	text-align:center;
	margin:5% 0% 5% 0%;
}
#speechButtonContainer{
	height:auto;
	width:100%;
	float:right;
	clear:right;
	/*border:2px solid red;*/
	margin:0% 0% 0% 0%;
}
#tableTopicSpeech{
	width:100%;
	float:left;
	clear:right;
	font-size:150%;
	text-align:left;
	box-shadow:0px 5px 0px 0px rgba(0,0,0,.2);
	border:2px solid black;
	margin:5% 0% 0% 0%;
}
#tableTopicSpeech:active{
	transform:translateY(4px);
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
}
#evaluationSpeech{
	width:100%;
	float:left;
	clear:left;
	font-size:150%;
	text-align:left;
	box-shadow:0px 5px 0px 0px rgba(0,0,0,.2);
	border:2px solid black;
	margin:5% 0% 0% 0%;
}
#evaluationSpeech:active{
	transform:translateY(4px);
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
}
#iceBreakerSpeech{
	width:100%;
	float:left;
	clear:left;
	font-size:150%;
	text-align:left;
	box-shadow:0px 5px 0px 0px rgba(0,0,0,.2);
	border:2px solid black;
	margin:5% 0% 0% 0%;
}
#iceBreakerSpeech:active{
	transform:translateY(4px);
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
}
#projectSpeech{
	width:100%;
	float:left;
	clear:left;
	font-size:150%;
	text-align:left;
	box-shadow:0px 5px 0px 0px rgba(0,0,0,.2);
	border:2px solid black;
	margin:5% 0% 0% 0%;
}
#projectSpeech:active{
	transform:translateY(4px);
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
}
#manualControlSpeech{
	width:100%;
	float:left;
	clear:left;
	font-size:150%;
	text-align:left;
	box-shadow:0px 5px 0px 0px rgba(0,0,0,.2);
	border:2px solid black;
	margin:5% 0% 0% 0%;
}
#manualControlSpeech:active{
	transform:translateY(4px);
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
}
#greenLight{
	display:block;
	background-color:black;
	border:4px solid green;
	border-radius:35%;
	height:30%;
	width:96%;
	float:left;
	margin:0px 0px 5px 0px;
}
#yellowLight{
	display:block;
	background-color:black;
	border:4px solid yellow;
	border-radius:35%;
	height:30%;
	width:96%;
	float:left;
	clear:left;
	margin:0px 0px 5px 0px;
}
#redLight{
	display:block;
	background-color:black;
	border:4px solid red;
	border-radius:35%;
	height:30%;
	width:96%;
	float:left;
	clear:left;
	margin:0px 0px 5px 0px;
}
/*
#greenLight:hover{
	background-color:green;
}
#yellowLight:hover{
	background-color:yellow;
}
#redLight:hover{
	background-color:red;
}
*/
#buttonClear{
	display:inline-block;
	float:right;
	width:25%;
	height:100%;
	box-shadow:0px 5px 0px 0px rgba(0,0,0,.2);
	font-size:140%;
	font-weight:normal;
	border:1px solid black;
	margin:0% 0% 0% 1%;
}
#buttonStop{
	display:inline-block;
	float:right;
	width:25%;
	height:100%;
	box-shadow:0px 5px 0px 0px rgba(0,0,0,.2);
	font-size:140%;
	font-weight:normal;
	border:1px solid black;
	margin:0% 0% 0% 0%;
}
#buttonStart{
	display:inline-block;
	float:left;
	width:43%;
	height:100%;
	box-shadow:0px 5px 0px 0px rgba(0,0,0,.2);
	font-size:170%;
	font-weight:normal;
	border:1px solid black;
	margin:0% 0% 0% 0%;
}
#buttonClear:active{
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
	transform:translateY(4px);
}
#buttonStop:active{
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
	transform:translateY(4px);
}
#buttonStart:active{
	box-shadow:0px 1px 0px 0px rgba(0,0,0,.5);
	transform:translateY(4px);
}